.popup__error_visible {
  min-height: 30px;
  /* position: absolute; */
  margin: 0;
  padding: 0;
  /* top: 62px; */
  /* left: 0; */
  color: #f00;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  /* z-index: 1; */
}
